.LoginPage {
    background-image: url("../images/homepage-background.jpeg");
    background-position: center; 
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(152, 218, 255);
}


input {
    margin: 10px;
}